/* ========== GOOGLE FONTS ========== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');


/* ========== VARIABLE CSS ========== */
:root {
   --header-height: 3.5rem;

   /* ========== COLORS ========== */
   /* Color mode HSL (hue, saturation, lightness) */
   --soft-orange: hsl(35, 77%, 62%);
   --soft-red: hsl(5, 85%, 63%);
   --off-white: hsl(36, 100%, 99%);
   --gray-blue: hsl(233, 8%, 79%);
   --dark-gray-blue: hsl(236, 13%, 42%);
   --very-dark-blue: hsl(240, 100%, 5%);

   /* ========== Font and typography ========== */
   /* .5rem = 8px | 1rem = 16px  */
   --body-font: 'Inter', sans-serif;
   --base-font-size: 15px;
   --biggest-font-size: 2.25rem;
   --h1-font-size: 6rem;
   --h2-font-size: 1.25rem;
   --h3-font-size: 1rem;
   --normal-font-size: .938rem;
   --small-font-size: .813rem;
   --smaller-font-size: .75rem;

   /* ========== Font weight ========== */
   --font-regular: 400;
   --font-medium: 700;
   --font-bold: 800;

   @media screen and (min-width: 1024px) {
      --biggest-font-size: 6rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
   }
}


/* ========== BASE STYLES / RESET ========== */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: var(--body-font);
   font-size: var(--normal-font-size);
   background-color: var(--off-white);
   color: var(--dark-gray-blue);
   padding: 20px;
}

h1 {
   color: var(--very-dark-blue);
   font-weight: var(--font-bold);
   font-size: var(--biggest-font-size);
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

img {
   max-width: 100%;
   height: auto;
}

p {
   line-height: 1.75;
}

/* ========== REUSABLE CSS CLASSES ========== */
.container {
   max-width: 1440px;
}

/* ========== HEADER AND NAV ========== */
.header {
   width: 100%;
   top: 0;
   left: 0;
}

.nav {
   position: relative;
   height: var(--header-height);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav-menu {
   display: flex;
   flex-direction: row;
}

.nav-logo,
.nav-close {
   padding-left: 1rem;
   padding-top: 1rem;
}

.nav-logo img {
   width: 50px;
}

.nav-toggle {
   top: 1rem;
   right: 2.5rem;
   cursor: pointer;
}

.nav-toggle img {
   width: 40px;
}

.nav-list {
   display: flex;
   flex-direction: column;
   text-align: left;
   row-gap: 2rem;
}

.nav-link {
   color: var(--very-dark-blue);
   font-size: var(--small-font-size);
   transition: color .3s;
}

.nav-link:hover {
   color: var(--soft-red);
}

.nav-close {
   position: absolute;
   top: 1rem;
   right: 1.5rem;
   cursor: pointer;
}

.nav-close img {
   width: 26px;
}

/* Main Section */
.main {
   padding: 1rem 1.5rem;
}

.main-container {
   display: flex;
   gap: 2rem;
   /* padding: 2.5rem; */
}

.article-main-img {
   content: url("assets/images/image-web-3-desktop.jpg");
   width: 100%;
}

.article-main {
   display: flex;
   flex-direction: column;
}

.article-main-text {
   display: flex;
   padding-top: 1.5rem;
}

.main-box1,
.main-box2 {
   flex: 1;
}

button {
   background-color: var(--soft-red);
   color: var(--off-white);
   border: none;
   text-transform: uppercase;
   padding: 1rem 2rem;
   letter-spacing: .35rem;
   font-weight: var(--font-medium);
   margin-top: 1.5rem;
   margin-bottom: 2rem;
}

/* Article Aside */
.article-aside {
   background-color: var(--very-dark-blue);
   padding: 1.5rem;
}

.aside-title {
   color: var(--soft-orange);
   font-size: 2rem;
   font-weight: 700;
}

.aside-box {
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
   border-bottom: 1px solid var(--dark-gray-blue);
}

.aside-box:last-child {
   border-bottom: none;
}

.aside-subtitle {
   color: var(--off-white);
   padding-bottom: 1rem;
}

/* Article Highlights */
.article-highlights {
   display: flex;
   justify-content: space-between;
   padding-top: 5rem;
}

.highlight-box {
   display: flex;
   gap: 10px;
}

.highlight-box-img {
   width: 100px;
   height: auto;
}

.highlight-box-text {
   flex: 2;
   margin: 0 10px;
}

.highlight-number {
   font-size: 30px;
   color: var(--gray-blue);
   padding-bottom: 10px;
}

.highlight-subtitle {
   color: var(--very-dark-blue);
   font-size: 20px;
   padding-bottom: 10px;
}


.attribution {
   font-size: 11px;
   text-align: center;
}

.attribution a {
   color: hsl(228, 45%, 44%);
}

/* ========== MEDIA QUERIES ========== */

@media screen and (max-width: 767px) {
   .nav-menu {
      position: fixed;
      top: 0;
      right: -100%;
      background-color: var(--off-white);
      width: 65%;
      padding-left: 1.5rem;
      padding-top: 10rem;
      transition: right .4s;
   }

   .nav-link {
      font-size: var(--h2-font-size);
   }

   .article-main-img {
      content: url("assets/images/image-web-3-mobile.jpg");
      width: 100%;
   }

   .main-container,
   .article-main,
   .article-main-text {
      flex-direction: column;
   }

   h1 {
      padding-bottom: 1.5rem;
      font-size: 40px;
      line-height: 1.1;
   }

   .aside-subtitle {
      font-size: 20px;
   }

   .article-highlights {
      flex-direction: column;
   }

   .highlight-box {
      margin-bottom: 1.5rem;
   }

   .highlight-subtitle {
      font-size: 17px;
   }

   .main {
      padding: 0;
      margin-top: 2rem;
   }

}

.show-menu {
   right: 0;
}